body {
    font-family: 'Poppins';font-size: 16px;
}
.praxis_sb_search{


	background-image: url("images/bg.jpg");
height: 350px;

	border: 0.5px solid gray;

}
.input-group{
	margin-top: 150px;
	padding: 5px;
}

/*=================================== praxis_sb_category ===================================-*/
.praxis_sb_image{

	
}
.present{
	background-color: gainsboro;
}
.mycolor{
	background-color: gainsboro;
}

/*=================================== praxis_sb_footer ===================================-*/
.bg{
	background-color: #333;
}
/*=================================== praxis_sb_service provider ===================================-*/
.praxis-sb-myimages{
	border-radius: 50%;
}
.praxis-sb-check{
	margin-top: 25px;
}

.praxis-sb-provider{
	height: 500px;
	width: 60%;
	margin: 0 auto;
}
/*=================================== praxis_sb_subcategory ===================================-*/
.praxis-sb-subcat {
	height: 350px;
	width: 65%;
	margin: 0 auto;