body {
    font-family: 'Poppins';font-size: 16px;
}
.praxis_sb_search{


	background-image: url("images/bg.jpg");
height: 350px;

	border: 0.5px solid gray;

}
.input-group{
	margin-top: 150px;
	padding: 5px;
}

/*=================================== praxis_sb_category ===================================-*/
.praxis_sb_image{
border-radius: 50%;
	
}
.present{
	background-color: gainsboro;
}
.mycolor{
	background-color: gainsboro;
}
.bg{
    background-color: #343a40;
}